@import '../../../../../../variables.scss';

#alphabet-toggle-group {
	overflow: auto;
	width: 100%;
}

.toggle-button {
	font-size: 1.7rem;
	font-weight: bold;
	.mat-button-toggle-button {
		width: 4rem !important;
	}
}

:host {
	position: sticky;
	top: 0;
	z-index: 4;
	@include mq-mobile {
		z-index: 2;
	}
}
