@import '../../../../../../variables.scss';

#alphabet-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	button {
		border-radius: 50%;
		min-width: 36px;
		padding: unset !important;
	}
	@include mq-mobile {
		display: flex;
		gap: 0.8rem;
		flex-wrap: unset;
		justify-content: unset;
		overflow: scroll;
	}
}

:host {
	position: sticky;
	top: 0;
	z-index: 4;
	@include mq-mobile {
		margin-top: calc(180px + 3rem);
		z-index: 2;
	}
}
