@import '../../../../variables.scss';

h2,
h3,
p {
	margin-bottom: unset;
}

#container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.header-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.spinner-wrapper {
	@include flex-center;
	width: 100%;
}

.mat-form-performance {
	width: 30%;
	@include mq-mobile {
		width: 100%;
	}
}
