@if (student) {
<mat-card id="{{ student.lastname.charAt(0).toUpperCase() }}">
	<mat-card-header
		><h2 class="student-header">
			{{ student.name }} {{ student.lastname }}
		</h2></mat-card-header
	>
	<mat-card-content>
		<mat-tab-group
			#tabChildren
			animationDuration="0"
			[selectedIndex]="selectedTab()"
			(selectedIndexChange)="selectWorkType($event)">
			<mat-tab label="Tareas">
				@if (taskMatchSomeFilter()) {
				<div
					class="cards-wrapper"
					[ngClass]="{ 'center-last-card': onlyOneTaskMatch() }">
					@for (task of tasks(); track task.id) { @defer(on viewport)
					{
					<app-work-card
						[work]="task"
						[student]="student"
						*ngIf="
							screenType() === ScreenTypeEnum.DESKTOP ||
							student.showForMobile
						"
						[ngClass]="{
							disappear:
								(selectedSubjectId() &&
									task?.subject?.id !==
										selectedSubjectId()) ||
								!task?.show
						}">
					</app-work-card>
					} @placeholder {
					<div class="work-card-placeholder"></div>
					} }
				</div>
				} @else {
				<app-warning
					[info]="'No se encontraron tareas'"
					[cardStyle]="{ height: '44rem' }"
					[imgSource]="'./assets/images/empty-icon.png'"
					[imgWidth]="150"
					[imgHeight]="150"></app-warning>
				}
			</mat-tab>
			<mat-tab label="Exámenes">
				@if (examMatchSomeFilter()) {
				<div
					class="cards-wrapper"
					[ngClass]="{ 'center-last-card': onlyOneExamMatch() }">
					@for (exam of exams(); track exam.id) {
					<app-work-card
						[work]="exam"
						[student]="student"
						[workType]="WorkEnum.EXAM"
						*ngIf="
							screenType() === ScreenTypeEnum.DESKTOP ||
							student.showForMobile
						"
						[ngClass]="{
							disappear:
								(selectedSubjectId() &&
									exam?.subject?.id !==
										selectedSubjectId()) ||
								!exam?.show
						}">
					</app-work-card>
					}
				</div>
				} @else {
				<app-warning
					[info]="'No se encontraron exámenes'"
					[cardStyle]="{ height: '44rem' }"
					[imgSource]="'./assets/images/empty-icon.png'"
					[imgWidth]="150"
					[imgHeight]="150"></app-warning>
				}
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>
}
