@import '../../../../variables.scss';

#container {
	display: flex;
	flex-direction: column;
	height: -webkit-fill-available;
	gap: 3rem;
}

#students-cards-container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	height: -webkit-fill-available;
	padding-bottom: 5rem;
	.mat-mdc-card {
		&-content {
			@include mq-mobile {
				padding-bottom: 0.5rem;
			}
		}
	}
}

.spinner-wrapper {
	@include flex-center;
	height: 100%;
	width: 100%;
}

.mobile-margin-top {
	@include mq-mobile {
		margin-top: calc(180px + 3rem);
	}
}

.menu-option-wrapper {
	@include flex-center;
	p {
		margin-bottom: unset;
	}
}

.clean-height {
	height: unset !important;
}
