<div id="container">
	<div id="filters">
		<mat-card>
			<mat-card-header>Filtros</mat-card-header>
			<mat-card-content>
				<div id="content-container">
					<div class="first-row">
						<mat-radio-group
							aria-label="Elegí una materia"
							[formControl]="subjectFormControl">
							<mat-radio-button
								*ngFor="let subject of subjects$ | async"
								[value]="subject.id"
								>{{ subject.name }}</mat-radio-button
							>
							<mat-radio-button [value]="0">{{
								'Todas las materias'
							}}</mat-radio-button>
						</mat-radio-group>
					</div>
					<div class="second-row">
						<mat-form-field appearance="fill">
							<mat-label>Curso</mat-label>
							<mat-select
								[formControl]="courseFormControl"
								placeholder="Seleccionar un curso">
								<mat-option
									*ngFor="let course of courses$ | async"
									[value]="course.id">
									{{ course.year }}° -
									{{ course.shift | shift }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-form-field>
							<mat-label>Alumno</mat-label>
							<input
								type="text"
								matInput
								placeholder="Seleccione un alumnx"
								[matAutocomplete]="auto"
								aria-label="Number"
								[formControl]="studentFilterControl" />
							<mat-autocomplete
								(optionSelected)="showSelectedStudent($event)"
								autoActiveFirstOption
								#auto="matAutocomplete">
								<mat-option [value]="allWord.INCLUSIVE">{{
									allWord.INCLUSIVE
								}}</mat-option>
								<mat-option
									*ngFor="let student of filteredStudents"
									[value]="
										student.name + ' ' + student.lastname
									">
									{{ student.name }} {{ student?.lastname }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<mat-form-field appearance="fill">
							<mat-label>Tarea</mat-label>
							<input
								type="text"
								matInput
								placeholder="Seleccione una tarea"
								[matAutocomplete]="autoTask"
								aria-label="Number"
								[formControl]="taskFilterControl" />
							<mat-autocomplete
								(optionSelected)="
									showSelectedTaskOrExam($event)
								"
								autoActiveFirstOption
								#autoTask="matAutocomplete">
								<mat-option [value]="allWord.FEMALE">{{
									allWord.FEMALE
								}}</mat-option>
								<mat-option
									*ngFor="let task of filteredTasks"
									[value]="task.name">
									{{ task.name }} -
									{{ task.date | shortDate }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<mat-form-field appearance="fill">
							<mat-label>Exámen</mat-label>
							<input
								type="text"
								matInput
								placeholder="Seleccione un exámen"
								[matAutocomplete]="autoExam"
								aria-label="Number"
								[formControl]="examFilterControl" />
							<mat-autocomplete
								(optionSelected)="
									showSelectedTaskOrExam(
										$event,
										WorkEnum.EXAM
									)
								"
								autoActiveFirstOption
								#autoExam="matAutocomplete">
								<mat-option [value]="allWord.MALE">{{
									allWord.MALE
								}}</mat-option>
								<mat-option
									*ngFor="let exam of filteredExams"
									[value]="exam.name">
									{{ exam.name }} -
									{{ exam.date | shortDate }}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>
						<div class="range-date-wrapper">
							<mat-form-field appearance="fill">
								<mat-label>Ingrese un período</mat-label>
								<mat-date-range-input
									[rangePicker]="picker"
									[formGroup]="dateRangeFormControl">
									<input
										matStartDate
										placeholder="Desde"
										formControlName="start" />
									<input
										matEndDate
										placeholder="Hasta"
										formControlName="end" />
								</mat-date-range-input>
								<mat-hint>D/M/AAAA – D/M/AAAA</mat-hint>
								<mat-datepicker-toggle
									matIconSuffix
									[for]="picker"></mat-datepicker-toggle>
								<mat-date-range-picker
									#picker></mat-date-range-picker>
							</mat-form-field>
							<button
								#clearRangeButton
								disabled
								mat-mini-fab
								color="primary"
								title="Limpiar período"
								aria-label="Botón para limpiar rango de fecha"
								(click)="resetDatePeriod()">
								<mat-icon>clear</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<div
		id="students-cards-container"
		*ngIf="vm$ | async as vm; else selectCourseWarning">
		<mat-card *ngFor="let student of vm.students">
			<mat-card-header
				><h2 class="student-header">
					{{ student.name }} {{ student.lastname }}
				</h2></mat-card-header
			>
			<mat-card-content>
				<mat-tab-group #tabChildren id="qualifications-tab-group">
					<mat-tab label="Tareas">
						<div
							class="cards-wrapper"
							[ngClass]="{
								displayCenter: vm.tasks.length === 0
							}">
							<ng-container
								*ngIf="
									vm.tasks.length > 0;
									else noMatchedTasks
								">
								<mat-card
									class="qualification-card"
									*ngFor="let task of vm.tasks">
									<mat-card-header
										class="qualification-card-header">
										<h3>{{ task.name }}</h3>
										<p>
											{{ task.date | shortDate }}
										</p>
									</mat-card-header>
									<mat-card-content>
										<div class="qualification-card-content">
											<mat-form-field appearance="fill">
												<mat-label>Nota</mat-label>
												<mat-select
													[value]="
														{
															studentProjects:
																student.studentToTask,
															idToMatch: task.id
														}
															| studentTask
																: 'markingId'
													">
													<mat-option
														*ngFor="
															let marking of markings
														"
														[value]="marking.id">
														{{ marking.name }} -
														{{
															marking.description
														}}
													</mat-option>
												</mat-select>
											</mat-form-field>
											<mat-form-field
												class="observation-textarea">
												<mat-label
													>Observación</mat-label
												>
												<textarea matInput
													>{{
														{
															studentProjects:
																student.studentToTask,
															idToMatch: task.id
														}
															| studentTask
																: 'observation'
													}}
												</textarea
												>
											</mat-form-field>
										</div>
									</mat-card-content>
								</mat-card>
							</ng-container>
							<ng-template #noMatchedTasks>
								<mat-card id="warning-card">
									<mat-card-content>
										<h2>
											No se encontraron tareas que cumplan
											con los criterios de búsqueda
										</h2>
									</mat-card-content>
								</mat-card>
							</ng-template>
						</div>
					</mat-tab>
					<mat-tab label="Exámenes">
						<div
							class="cards-wrapper"
							[ngClass]="{
								displayCenter: vm.exams.length === 0
							}">
							<ng-container
								*ngIf="
									vm.exams.length > 0;
									else noMatchedExams
								">
								<mat-card
									class="qualification-card"
									*ngFor="let exam of vm.exams">
									<mat-card-header
										class="qualification-card-header">
										<h3>{{ exam.name }}</h3>
										<p>
											{{ exam.date | shortDate }}
										</p>
									</mat-card-header>
									<mat-card-content>
										<div class="qualification-card-content">
											<mat-form-field appearance="fill">
												<mat-label>Nota</mat-label>
												<input
													matInput
													placeholder="Nota del exámen"
													[value]="
														{
															studentProjects:
																student.studentToExam,
															idToMatch: exam.id
														}
															| studentExam
																: 'marking'
													" />
											</mat-form-field>
											<mat-form-field
												class="observation-textarea">
												<mat-label
													>Observación</mat-label
												>
												<textarea matInput
													>{{
														{
															studentProjects:
																student.studentToExam,
															idToMatch: exam.id
														}
															| studentExam
																: 'observation'
													}}
												</textarea
												>
											</mat-form-field>
										</div>
									</mat-card-content>
								</mat-card>
							</ng-container>
							<ng-template #noMatchedExams>
								<mat-card id="warning-card">
									<mat-card-content>
										<h2>
											No se encontraron exámenes que
											cumplan con los criterios de
											búsqueda
										</h2>
									</mat-card-content>
								</mat-card>
							</ng-template>
						</div>
					</mat-tab>
				</mat-tab-group>
			</mat-card-content>
		</mat-card>
	</div>

	<ng-template #selectCourseWarning>
		<div class="warning-container">
			<mat-card id="warning-card">
				<mat-card-content>
					<h2>Por favor, seleccione un curso</h2>
				</mat-card-content>
			</mat-card>
		</div>
	</ng-template>
</div>
