<div id="container">
	<div id="filters" [ngClass]="{'mobile-card-state': screenType() === 'MOBILE'}">
		<mat-card>
			<mat-card-header>Filtros</mat-card-header>
			<mat-card-content [ngClass]="{
				'hide-menu-state': screenType() === 'MOBILE' && students(),
				'open-menu-state': openFiltersMenu()
			}">
				<form [formGroup]="filtersForm">
					<div id="content-container" [ngClass]="{'mobile-container': screenType() === 'MOBILE' && students()}">
						<div class="first-row" [ngClass]="{'mobile-hide': (screenType() === 'MOBILE' && !students()) || (students() && students()!.length === 0)}">
							<mat-radio-group
								aria-label="Elegí una materia"
								formControlName="subject">
								<mat-radio-button
									*ngFor="let subject of subjects()"
									[value]="subject.id"
									>{{ subject.name }}</mat-radio-button
								>
								<mat-radio-button [value]="0">{{
									'Todas las materias'
								}}</mat-radio-button>
							</mat-radio-group>
						</div>
						<div class="second-row">
							<mat-form-field appearance="fill">
								<mat-label>Curso</mat-label>
								<mat-select
									formControlName="course"
									placeholder="Seleccionar un curso">
									<mat-option
										*ngFor="let course of courses()"
										[value]="course.id">
										{{ course.year }}° -
										{{ course.shift | shift }}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<button mat-stroked-button id="filters-button" color="primary" 
								[ngClass]="{'mobile-hide': screenType() === 'DESKTOP' || (screenType() === 'MOBILE' && !students()) || (students() && students()!.length === 0)}"
								(click)="toggleFiltersMenu()"
								>
								{{ openFiltersMenu()? 'Ocultar filtros' : 'Mostrar más filtros'}}
						    </button>
							<mat-form-field [ngClass]="{'mobile-hide': (screenType() === 'MOBILE' && !students()) || (students() && students()!.length === 0 || (screenType() === 'MOBILE' && hideFilters()))}">
								<mat-label>Alumnx</mat-label>
								<input
								    #studentsInput
									type="text"
									matInput
									placeholder="Seleccione un alumnx"
									[matAutocomplete]="auto"
									aria-label="Number"
									formControlName="student" 
								/>
								<mat-autocomplete
									(optionSelected)="studentSelected($event)"
									#auto="matAutocomplete"
								>
									<mat-option
									*ngIf="students() ? students()!.length > 1 : false"
										[value]="allWordEnum.INCLUSIVE"
										>{{ allWordEnum.INCLUSIVE }}</mat-option
									>
									<mat-option
										*ngFor="
											let student of filteredStudentsForAutocomplete()
										"
										[value]="
											student.name +
											' ' +
											student.lastname
										">
										{{ student.name }}
										{{ student?.lastname }}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
							<mat-form-field appearance="fill" [ngClass]="{'mobile-hide': (screenType() === 'MOBILE' && !students()) || (students() && students()!.length === 0 || (screenType() === 'MOBILE' && hideFilters()))}">
								<mat-label>Tarea</mat-label>
								<input
									type="text"
									matInput
									placeholder="Seleccione una tarea"
									[matAutocomplete]="autoTask"
									aria-label="Number"
									formControlName="task" />
								<mat-autocomplete
									(optionSelected)="
										taskOrExamSelected($event)
									"
									autoActiveFirstOption
									#autoTask="matAutocomplete">
									<mat-option [value]="allWordEnum.FEMALE">{{
										allWordEnum.FEMALE
									}}</mat-option>
									<mat-option
										*ngFor="
											let task of filteredTasksForAutocomplete()
										"
										[value]="task.name">
										{{ task.name }} -
										{{ task.date | shortDate }}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
							<mat-form-field appearance="fill" [ngClass]="{'mobile-hide': (screenType() === 'MOBILE' && !students()) || (students() && students()!.length === 0 || (screenType() === 'MOBILE' && hideFilters()))}">
								<mat-label>Exámen</mat-label>
								<input
									type="text"
									matInput
									placeholder="Seleccione un exámen"
									[matAutocomplete]="autoExam"
									aria-label="Number"
									formControlName="exam" />
								<mat-autocomplete
									(optionSelected)="
										taskOrExamSelected(
											$event,
											WorkEnum.EXAM
										)
									"
									autoActiveFirstOption
									#autoExam="matAutocomplete">
									<mat-option [value]="allWordEnum.MALE">{{
										allWordEnum.MALE
									}}</mat-option>
									<mat-option
										*ngFor="
											let exam of filteredExamsForAutocomplete()
										"
										[value]="exam.name">
										{{ exam.name }} -
										{{ exam.date | shortDate }}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
							<div class="range-date-wrapper" [ngClass]="{'mobile-hide': (screenType() === 'MOBILE' && !students()) || (students() && students()!.length === 0 || (screenType() === 'MOBILE' && hideFilters()))}">
								<mat-form-field id="date-filter-form-field" appearance="fill">
									<mat-label>Ingrese un período</mat-label>
									<mat-date-range-input
										[rangePicker]="picker"
										formGroupName="dateRange">
										<input
											matStartDate
											placeholder="Desde"
											formControlName="start" />
										<input
											matEndDate
											placeholder="Hasta"
											formControlName="end" />
									</mat-date-range-input>
									<mat-hint>D/M/AAAA – D/M/AAAA</mat-hint>
									<mat-datepicker-toggle
										matIconSuffix
										[for]="picker"></mat-datepicker-toggle>
									<mat-date-range-picker
										#picker></mat-date-range-picker>
								</mat-form-field>
								<button
									#clearRangeButton
									disabled
									mat-mini-fab
									color="primary"
									title="Limpiar período"
									aria-label="Botón para limpiar rango de fecha"
									(click)="resetDateRange()">
									<mat-icon>clear</mat-icon>
								</button>
							</div>
						</div>
					</div>
				</form>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Para que se muestre el div, el tasksExamsAndStudents$ tiene que emitir algo que exista y tienen que haber alumnxs -->
	<div
		id="students-cards-container"
		*ngIf="
			(tasksExamsAndStudents$ | async) &&
				students() &&
				students()!.length > 0;
			else selectCourseWarning
		">
		<!-- Mientras se espera que se cargue todo se muestra un spinner -->
		<ng-container
			[ngTemplateOutlet]="spinnerProgressOn() ? loadingOn : loadingOff">
		</ng-container>

		<ng-template #loadingOn>
			<div class="spinner-wrapper">
				<mat-spinner></mat-spinner>
			</div>
		</ng-template>

		<ng-template #loadingOff>
			<ng-container *ngFor="let student of students()">
				<mat-card *ngIf="student.show">
					<mat-card-header
						><h2 class="student-header">
							{{ student.name }} {{ student.lastname }}
						</h2></mat-card-header
					>
					<mat-card-content>
						<mat-tab-group
							#tabChildren
							[selectedIndex]="selectedTab()"
							id="qualifications-tab-group">
							<mat-tab label="Tareas">
								<div
									class="cards-wrapper"
									*ngIf="
										taskMatchSomeFilter();
										else noMatchedTasks
									">
									<ng-container *ngFor="let task of tasks()">
										<mat-card
											class="qualification-card"
											[ngClass]="{
												'pdlColor': task.subject === 1,
												'socialesColor': task.subject === 2
											}"
											*ngIf="task.show">
											<mat-card-header
												class="qualification-card-header">
												<h3>{{ task.name }}</h3>
												<p>
													{{ task.date | shortDate }}
												</p>
												<div
													class="edit-and-delete-settings">
													<button
														#editButton
														mat-mini-fab
														color="primary"
														aria-label="Icono para editar"
														(click)="
															toggleEditOnSelectedItem(
																{
																	controlElement: matSelect,
																	textArea,
																	editButton,
																	confirmDiv,
																	deleteButton
																}
															)
														">
														<mat-icon
															>edit</mat-icon
														>
													</button>
													<div
														#confirmDiv
														class="confirm-icons disappear">
														<button
														    class="confirm-button"
															title="Guardar edición"
															mat-mini-fab
															color="green"
															aria-label="Icono para confirmar edición"
															(click)="
																	updateWork(
																		{
																		controlElement: matSelect,
																		textArea,
																		editButton,
																		confirmDiv,
																		deleteButton,
																		cardContent,
																		cardLoading,
																		},
																		{
																			workId: task.id,
																			studentId: student.id,
																			workType: WorkEnum.TASK
																		}
																	)
																">
															<mat-icon
																>check</mat-icon
															>
														</button>
														<button
														    class="cancel-button"
															#cancelEditButton
															title="Cancelar edición"
															mat-mini-fab
															color="red"
															aria-label="Icono para cancelar edición"
															(click)="
																toggleEditOnSelectedItem(
																	{
																		controlElement: matSelect,
																		textArea,
																		editButton,
																		confirmDiv,
																		deleteButton
																	},
																	{
																		workId: task.id,
																	    studentId: student.id,
																		workType: WorkEnum.TASK
																	},
																	false
																)
															">
															<mat-icon
																>cancel</mat-icon
															>
														</button>
													</div>
													<button
														#deleteButton
														mat-mini-fab
														color="warn"
														aria-label="Icono para borrar"
														(click)="openDeleteDialog(task, WorkEnum.TASK)"
														>
														<mat-icon
															>delete</mat-icon
														>
													</button>
													<button
													    class="info-button"
														title="Ver más información"
														mat-mini-fab
														color="blue"
														aria-label="Icono para ver más detalles de la tarea"
														(click)="
															openInfoDialog(task)
														">
														<mat-icon
															>info</mat-icon
														>
													</button>
												</div>
											</mat-card-header>
											<div
												class="card-loading disappear"
												#cardLoading>
												<mat-spinner></mat-spinner>
											</div>
											<mat-card-content #cardContent>
												<div
													class="qualification-card-content">
													<mat-form-field
														appearance="fill">
														<mat-label
															>Nota</mat-label
														>
														<mat-select
															[value]="
																{
																	works: task.studentToTask,
																	studentId:
																		student.id
																}
																	| studentRelation
																		: 'markingId'
															"
															[disabled]="
																!editMode()
															"
															#matSelect>
															<mat-option
																*ngFor="
																	let marking of markings()
																"
																[value]="
																	marking.id
																">
																{{
																	marking.name
																}}
																-
																{{
																	marking.description
																}}
															</mat-option>
														</mat-select>
													</mat-form-field>
													<mat-form-field
														class="observation-textarea">
														<mat-label
															>Observación</mat-label
														>
														<textarea
															matInput
															[readonly]="
																!editMode()
															"
															[rows]="
																defaultRowsNumber()
															"
															#textArea
															>{{
																	{
																		works: task.studentToTask,
																		studentId:
																			student.id,
																	} | studentRelation : 'observation'
															}}
													</textarea
														>
													</mat-form-field>
												</div>
											</mat-card-content>
										</mat-card>
									</ng-container>
								</div>
								<ng-template #noMatchedTasks>
									<mat-card id="warning-card">
										<mat-card-content>
											<h2>No se encontraron tareas</h2>
										</mat-card-content>
									</mat-card>
								</ng-template>
							</mat-tab>

							<mat-tab label="Exámenes">
								<div
									class="cards-wrapper"
									*ngIf="
										examMatchSomeFilter();
										else noMatchedExams
									">
									<ng-container *ngFor="let exam of exams()">
										<mat-card
											*ngIf="exam.show"
											class="qualification-card"
											[ngClass]="{
												'pdlColor': exam.subject === 1,
												'socialesColor': exam.subject === 2
											}"
											>
											<mat-card-header
												class="qualification-card-header">
												<h3>{{ exam.name }}</h3>
												<p>
													{{ exam.date | shortDate }}
												</p>
												<div
													class="edit-and-delete-settings">
													<button
														#editButton
														mat-mini-fab
														color="primary"
														aria-label="Icono para editar"
														(click)="
															toggleEditOnSelectedItem(
																{
																	controlElement: matInput,
																	textArea,
																	editButton,
																	confirmDiv,
																	deleteButton
																},
																{
																	workId: 0,
																	studentId: 0,
																	workType: WorkEnum.EXAM
																}
															)
														">
														<mat-icon
															>edit</mat-icon
														>
													</button>
													<div
														#confirmDiv
														class="confirm-icons disappear">
														<button
														    class="confirm-button"
															title="Guardar edición"
															mat-mini-fab
															color="green"
															aria-label="Icono para confirmar edición"
															(click)="
																updateWork(
																	{
																		controlElement: matInput,
																		textArea,
																		editButton,
																		confirmDiv,
																		deleteButton,
																		cardContent,
																		cardLoading,
																	},
																	{
																		workId: exam.id,
																		studentId: student.id,
																		workType: WorkEnum.EXAM
																	}
																)
															">
															<mat-icon
																>check</mat-icon
															>
														</button>
														<button
														    class="cancel-button"
															#cancelEditButton
															title="Cancelar edición"
															mat-mini-fab
															color="red"
															aria-label="Icono para cancelar edición"
															(click)="
																toggleEditOnSelectedItem(
																	{
																		controlElement: matInput,
																		textArea,
																		editButton,
																		confirmDiv,
																		deleteButton
																	},
																	{
																		workId: exam.id,
																		studentId: student.id,
																		workType: WorkEnum.EXAM
																	},
																	false
																)
															">
															<mat-icon
																>cancel</mat-icon
															>
														</button>
													</div>
													<button
														#deleteButton
														mat-mini-fab
														color="warn"
														aria-label="Icono para borrar"
														(click)="openDeleteDialog(exam, WorkEnum.EXAM)"
														>
														<mat-icon
															>delete</mat-icon
														>
													</button>
													<button
													    class="info-button"
														title="Ver más información"
														mat-mini-fab
														color="blue"
														aria-label="Icono para ver más detalles del exámen"
														(click)="
															openInfoDialog(
																exam,
																WorkEnum.EXAM
															)
														">
														<mat-icon
															>info</mat-icon
														>
													</button>
												</div>
											</mat-card-header>
											<div
												class="card-loading disappear"
												#cardLoading>
												<mat-spinner></mat-spinner>
											</div>
											<mat-card-content #cardContent>
												<div
													class="qualification-card-content">
													<mat-form-field
														appearance="fill">
														<mat-label
															>Nota</mat-label
														>
														<input
															#matInput
															readonly
															matInput
															placeholder="Nota del exámen"
															[value]="
																{
																	works: exam.studentToExam,
																	studentId:
																		student.id
																}
																	| studentRelation
																		: 'marking'
															" />
													</mat-form-field>
													<mat-form-field
														class="observation-textarea">
														<mat-label
															>Observación</mat-label
														>
														<textarea
															matInput
															[readonly]="true"
															[rows]="
																defaultRowsNumber()
															"
															#textArea
															>{{
																	{
																		works: exam.studentToExam,
																		studentId: student.id,
																	} | studentRelation:"observation"
															}}
													</textarea
														>
													</mat-form-field>
												</div>
											</mat-card-content>
										</mat-card>
									</ng-container>
								</div>
								<ng-template #noMatchedExams>
									<mat-card id="warning-card">
										<mat-card-content>
											<h2>No se encontraron exámenes</h2>
										</mat-card-content>
									</mat-card>
								</ng-template>
							</mat-tab>
						</mat-tab-group>
					</mat-card-content>
				</mat-card>
			</ng-container>
		</ng-template>
	</div>

	<ng-template #selectCourseWarning>
		<ng-container
			[ngTemplateOutlet]="
				students()?.length === 0 ? noStudents : studentsFound
			"></ng-container>

		<ng-template #studentsFound>
			<div class="warning-container" appViewListener>
				<mat-card id="warning-card">
					<mat-card-content>
						<h2>Por favor, seleccione un curso</h2>
					</mat-card-content>
				</mat-card>
			</div>
		</ng-template>

		<ng-template #noStudents>
			<div class="warning-container">
				<mat-card id="warning-card">
					<mat-card-content>
						<h2>No existen alumnxs cargados para este curso</h2>
					</mat-card-content>
				</mat-card>
			</div>
		</ng-template>
	</ng-template>

	<button
		id="createButton"
		title="Crear una nueva tarea o exámen"
		mat-fab
		color="accent"
		aria-label="Crear una nueva tarea o exámen"
		*ngIf="students() ? students()!.length > 0 : false"
		(click)="openCreateDialog()">
		<mat-icon>add</mat-icon>
	</button>
</div>
