<div id="container">
	<app-filter></app-filter>

	<app-alphabet 
		*ngIf="students() && students()!.length > 0 && !spinnerProgressOn()"
		>
		<!-- TODO: [ngClass]="{'disappear': filtersForm.get('student')?.value}" -->
	</app-alphabet>

	<!-- Para que se muestre el div, el tasksExamsAndStudents$ tiene que emitir algo que exista y tienen que haber alumnxs -->
	<div
		id="students-cards-container"
		*ngIf="
			(tasksExamsAndStudents$ | async) &&
				students() &&
				students()!.length > 0 &&
				!spinnerProgressOn();
			else selectCourseWarning"
			>
			<!-- TODO: [ngClass]="{'mobile-margin-top': filtersForm.get('student')?.value}" -->
		<ng-container *ngFor="let student of students(); trackBy: trackItems">
			<mat-card [ngClass]="{'disappear': !student.show}" id="{{ student.lastname.charAt(0).toUpperCase()}}">
					<mat-card-header
						><h2 class="student-header">
							{{ student.name }} {{ student.lastname }}
						</h2></mat-card-header
					>
					<mat-card-content>
						<mat-tab-group
							#tabChildren
							[selectedIndex]="selectedTab()"
							id="qualifications-tab-group">
							<mat-tab label="Tareas">
								<div
									class="cards-wrapper"
									*ngIf="
										taskMatchSomeFilter();
										else noMatchedTasks
									">
									<!-- TODO: CREAR CADA CARD COMO COMPONENTE -->
									<ng-container *ngFor="let task of tasks(); trackBy: trackItems">
										<mat-card
											class="qualification-card"
											[ngClass]="{'disappear': !task.show}"
										>
											<mat-card-header
												class="qualification-card-header">
												<h3 [title]="task.name">{{ task.name }}</h3>
												<h4>{{students()!.length}}/{{task.totalDelivered}}</h4>
												<p>
													{{ task.date | shortDate }}
												</p>
												<div
													class="edit-and-delete-settings">
													<button
														#editButton
														mat-mini-fab
														color="primary"
														title="Editar observación"
														aria-label="Icono para editar"
														(click)="
															toggleEditOnSelectedItem(
																{
																	controlElement: matSelect,
																	textArea,
																	editButton,
																	confirmDiv,
																	deleteButton
																}
															)
														">
														<mat-icon
															>edit</mat-icon
														>
													</button>
													<div
														#confirmDiv
														class="confirm-icons disappear">
														<button
														    class="confirm-button"
															title="Guardar edición"
															mat-mini-fab
															color="green"
															aria-label="Icono para confirmar edición"
															(click)="
																	updateWork(
																		{
																		controlElement: matSelect,
																		textArea,
																		editButton,
																		confirmDiv,
																		deleteButton,
																		cardContent,
																		cardLoading,
																		},
																		{
																			workId: task.id,
																			studentId: student.id,
																			workType: WorkEnum.TASK
																		}
																	)
																">
															<mat-icon
																>check</mat-icon
															>
														</button>
														<button
														    class="cancel-button"
															#cancelEditButton
															title="Cancelar edición"
															mat-mini-fab
															color="red"
															aria-label="Icono para cancelar edición"
															(click)="
																toggleEditOnSelectedItem(
																	{
																		controlElement: matSelect,
																		textArea,
																		editButton,
																		confirmDiv,
																		deleteButton
																	},
																	{
																		workId: task.id,
																	    studentId: student.id,
																		workType: WorkEnum.TASK
																	},
																	false
																)
															">
															<mat-icon
																>cancel</mat-icon
															>
														</button>
													</div>
													<button
														#deleteButton
														mat-mini-fab
														color="warn"
														aria-label="Icono para borrar"
														(click)="openDeleteDialog(task, WorkEnum.TASK)"
														>
														<mat-icon
															>delete</mat-icon
														>
													</button>
													<button
													    class="info-button"
														title="Ver más información"
														mat-mini-fab
														color="blue"
														aria-label="Icono para ver más detalles de la tarea"
														(click)="
															openInfoDialog(task)
														">
														<mat-icon
															>info</mat-icon
														>
													</button>
												</div>
											</mat-card-header>
											<div
												class="card-loading disappear"
												#cardLoading>
												<mat-spinner></mat-spinner>
											</div>
											<mat-card-content #cardContent>
												<div
													class="qualification-card-content">
													<mat-form-field
														appearance="fill">
														<mat-label
															>Nota</mat-label
														>
														<mat-select
															[value]="
																{
																	works: task.studentToTask,
																	studentId:
																		student.id
																}
																	| studentRelation
																		: 'markingId'
															"
															(selectionChange)="updateWork(
																{
																controlElement: matSelect,
																cardContent,
																cardLoading,
																},
																{
																	workId: task.id,
																	studentId: student.id,
																	workType: WorkEnum.TASK
																}
															)"
															#matSelect>
															<mat-option
																*ngFor="
																	let marking of markings()
																"
																[value]="
																	marking.id
																">
																{{
																	marking.name
																}}
																-
																{{
																	marking.description
																}}
															</mat-option>
														</mat-select>
													</mat-form-field>
													<mat-form-field
														class="observation-textarea">
														<mat-label
															>Observación</mat-label
														>
														<textarea
															matInput
															[readonly]="
																!editMode()
															"
															[rows]="
																defaultRowsNumber()
															"
															#textArea
															>{{
																	{
																		works: task.studentToTask,
																		studentId:
																			student.id,
																	} | studentRelation : 'observation'
															}}</textarea>
													</mat-form-field>
												</div>
											</mat-card-content>
										</mat-card>
									</ng-container>
								</div>
								<ng-template #noMatchedTasks>
									<mat-card id="warning-card">
										<mat-card-content>
											<h2>No se encontraron tareas</h2>
										</mat-card-content>
									</mat-card>
								</ng-template>
							</mat-tab>

							<mat-tab label="Exámenes">
								<div
									class="cards-wrapper"
									*ngIf="
										examMatchSomeFilter();
										else noMatchedExams
									">
									<ng-container *ngFor="let exam of exams(); trackBy: trackItems">
										<mat-card
										[ngClass]="{'disappear': !exam.show}"
											class="qualification-card"
											[ngClass]="{
												'pdlColor': exam.subject === 1,
												'socialesColor': exam.subject === 2
											}"
											>
											<mat-card-header
												class="qualification-card-header">
												<h3 [title]="exam.name">{{ exam.name }}</h3>
												<p>
													{{ exam.date | shortDate }}
												</p>
												<div
													class="edit-and-delete-settings">
													<button
														#editButton
														mat-mini-fab
														color="primary"
														title="Editar observación"
														aria-label="Icono para editar"
														(click)="
															toggleEditOnSelectedItem(
																{
																	controlElement: matInput,
																	textArea,
																	editButton,
																	confirmDiv,
																	deleteButton
																},
																{
																	workId: 0,
																	studentId: 0,
																	workType: WorkEnum.EXAM
																}
															)
														">
														<mat-icon
															>edit</mat-icon
														>
													</button>
													<div
														#confirmDiv
														class="confirm-icons disappear">
														<button
														    class="confirm-button"
															title="Guardar edición"
															mat-mini-fab
															color="green"
															aria-label="Icono para confirmar edición"
															(click)="
																updateWork(
																	{
																		controlElement: matInput,
																		textArea,
																		editButton,
																		confirmDiv,
																		deleteButton,
																		cardContent,
																		cardLoading,
																	},
																	{
																		workId: exam.id,
																		studentId: student.id,
																		workType: WorkEnum.EXAM
																	}
																)
															">
															<mat-icon
																>check</mat-icon
															>
														</button>
														<button
														    class="cancel-button"
															#cancelEditButton
															title="Cancelar edición"
															mat-mini-fab
															color="red"
															aria-label="Icono para cancelar edición"
															(click)="
																toggleEditOnSelectedItem(
																	{
																		controlElement: matInput,
																		textArea,
																		editButton,
																		confirmDiv,
																		deleteButton
																	},
																	{
																		workId: exam.id,
																		studentId: student.id,
																		workType: WorkEnum.EXAM
																	},
																	false
																)
															">
															<mat-icon
																>cancel</mat-icon
															>
														</button>
													</div>
													<button
														#deleteButton
														mat-mini-fab
														color="warn"
														aria-label="Icono para borrar"
														(click)="openDeleteDialog(exam, WorkEnum.EXAM)"
														>
														<mat-icon
															>delete</mat-icon
														>
													</button>
													<button
													    class="info-button"
														title="Ver más información"
														mat-mini-fab
														color="blue"
														aria-label="Icono para ver más detalles del exámen"
														(click)="
															openInfoDialog(
																exam,
																WorkEnum.EXAM
															)
														">
														<mat-icon
															>info</mat-icon
														>
													</button>
												</div>
											</mat-card-header>
											<div
												class="card-loading disappear"
												#cardLoading>
												<mat-spinner></mat-spinner>
											</div>
											<mat-card-content #cardContent>
												<div
													class="qualification-card-content">
													<mat-form-field
														appearance="fill">
														<mat-label
															>Nota</mat-label
														>
														<input
															#matInput
															readonly
															matInput
															placeholder="Nota del examen"
															[value]="
																{
																	works: exam.studentToExam,
																	studentId:
																		student.id
																}
																	| studentRelation
																		: 'marking'
															" />
													</mat-form-field>
													<mat-form-field
														class="observation-textarea">
														<mat-label
															>Observación</mat-label
														>
														<textarea
															matInput
															[readonly]="true"
															[rows]="
																defaultRowsNumber()
															"
															#textArea
															>{{
																	{
																		works: exam.studentToExam,
																		studentId: student.id,
																	} | studentRelation:"observation"
															}}</textarea>
													</mat-form-field>
												</div>
											</mat-card-content>
										</mat-card>
									</ng-container>
								</div>
								<ng-template #noMatchedExams>
									<mat-card id="warning-card">
										<mat-card-content>
											<h2>No se encontraron exámenes</h2>
										</mat-card-content>
									</mat-card>
								</ng-template>
							</mat-tab>
						</mat-tab-group>
					</mat-card-content>
			</mat-card>
		</ng-container>
	</div>

	<div *ngIf="spinnerProgressOn()" class="spinner-wrapper">
		<mat-spinner></mat-spinner>
	</div>

	<!-- TODO: HACER LOS WARNING DIVS COMO COMPONENTES APARTE -->
	<ng-template #selectCourseWarning>
		<ng-container
			[ngTemplateOutlet]="
				students()?.length === 0? noStudents : studentsFound
			"></ng-container>

		<ng-template #studentsFound>
			<div *ngIf="!spinnerProgressOn()" class="warning-container" appViewListener>
				<mat-card id="warning-card">
					<mat-card-content>
						<h2>Por favor, seleccione un curso</h2>
					</mat-card-content>
				</mat-card>
			</div>
		</ng-template>

		<ng-template #noStudents>
			<div class="warning-container" *ngIf="!spinnerProgressOn()">
				<mat-card id="warning-card">
					<mat-card-content>
						<h2>No existen alumnxs cargados para este curso</h2>
					</mat-card-content>
				</mat-card>
			</div>
		</ng-template>
	</ng-template>

	<!-- TODO: PROBAR CON NG CONTENT Y CONTENT PROJECTION -->
	<button
		id="createButton"
		title="Crear una nueva tarea o exámen"
		mat-fab
		color="accent"
		aria-label="Crear una nueva tarea o exámen"
		*ngIf="students() ? students()!.length > 0 : false"
		[matMenuTriggerFor]="menu"
		>
		<mat-icon>add</mat-icon>
	</button>

	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="openCreateDialog()">
			<div class="menu-option-wrapper">
				<mat-icon aria-hidden="false" aria-label="Agregar nueva tarea / examen" fontIcon="note_add"></mat-icon>
				<span>Crear una tarea / examen</span>
			</div>
		</button>
		<button mat-menu-item (click)="openMultipleMarkingSetterDialog()">
			<div class="menu-option-wrapper">
				<mat-icon aria-hidden="false" aria-label="Asignar múltiples calificaciones" fontIcon="grading"></mat-icon>
				<span>Asignar múltiples calificaciones</span>
			</div>
		</button>
	  </mat-menu>

	<app-scroll *ngIf="showScroll$ | async" (scrollToTop)="onScrollToTop()"></app-scroll>
</div>
