<mat-card
	class="performance-card"
	*ngIf="studentPerformance$ | async as studentPerformance; else spinner">
	<mat-card-header>
		<div class="header-wrapper">
			<h2>
				{{ studentPerformance[0].studentName }}
				{{ studentPerformance[0].studentLastname }}
			</h2>
		</div>
	</mat-card-header>
	<mat-card-content class="performance-content">
		<mat-accordion id="performance-accordion">
			<mat-expansion-panel
				*ngFor="let subject of subjects; let i = index">
				<mat-expansion-panel-header>
					<mat-panel-title>{{ subject.name }}</mat-panel-title>
				</mat-expansion-panel-header>
				<mat-list *ngIf="processedStudentPerformance">
					<mat-list-item
						*ngFor="
							let performance of processedStudentPerformance[i]
								.studentPerformance
						"
						class="performance-list-item">
						<span matListItemTitle>{{
							performance.markingDescription
						}}</span>
						<span matListItemLine>{{
							'Cantidad: ' + performance.count
						}}</span>
					</mat-list-item>
				</mat-list>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-content>
</mat-card>

<ng-template #spinner>
	<mat-spinner></mat-spinner>
</ng-template>
