@import '../../../../../../variables.scss';

.qualification-card {
	height: 44rem;
	width: 24.4rem;
	.qualification-card-header {
		align-items: center;
		display: flex;
		flex-direction: column;
		h3 {
			font-weight: bold;
			margin-bottom: unset;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			max-width: 20.8rem;
		}
		h4 {
			color: #1cb128;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}
		.edit-and-delete-settings {
			display: flex;
			gap: 2.5rem;
			margin-bottom: 1.3rem;
		}
	}
	.mat-mdc-card-content {
		&:last-child {
			padding-bottom: unset;
		}
		.qualification-card-content {
			display: flex;
			flex-direction: column;
		}
	}
}

.confirm-icons {
	display: flex;
	gap: 2.5rem;
}

.confirm-button {
	background-color: green;
	color: white;
}

.cancel-button {
	background-color: red;
	color: white;
}

.info-button {
	background-color: blue;
	color: white;
}

.card-loading {
	@include flex-center;
	width: 24.4rem;
	height: 25.3rem;
	mat-spinner {
		height: 5rem !important;
		width: 5rem !important;
	}
}

.disappear {
	display: none !important;
}
