* {
	border: 0;
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: unset;
}

html {
	font-size: 62.5%; // 16px * 0.625 = 10px;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.disappear {
	display: none !important;
}
