/* You can add global styles to this file, and also import other style files */
@import './bases.scss';
@import './variables.scss';

//TABS
.mat-mdc-card-header {
	justify-content: center;
}

#qualifications-tab-group {
	.mat-mdc-tab-body-wrapper {
		padding: 2rem;
		@include mq-mobile {
			padding: 0.5rem;
		}
	}
}

.mat-mdc-tab-body-content {
	direction: rtl; /* Establece la dirección de derecha a izquierda */
	overflow: unset !important;
}

.mat-mdc-tab-body.mat-mdc-tab-body-active {
	overflow-x: none !important;
	overflow-y: none !important;
}

.mat-mdc-card {
	direction: ltr;
}

//BUTTONS
.mdc-fab--mini {
	width: 3rem !important;
	height: 3rem !important;
}

// ACCORDION
.performance-accordion {
	.mat-expansion-panel-header {
		.mat-content {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
	}

	.mat-expansion-panel-content {
		.mat-expansion-panel-body {
			align-items: center;
			display: flex;
			flex-direction: column;
		}
	}
}

// BUTTON TOGGLE
.toggle-button {
	text-align: center;
	width: 100%;
	.mat-button-toggle-button {
		width: 4rem !important;
	}
	&.mat-button-toggle-checked {
		background-color: orange !important;
	}
}
